/* MARGIN - Y-AXIS */
.vertical-micro {
    margin-top: var(--rnb-spacing-micro);
    margin-bottom: var(--rnb-spacing-micro);
}

.vertical-tiny {
    margin-top: var(--rnb-spacing-tiny);
    margin-bottom: var(--rnb-spacing-tiny);
}

.vertical-small {
    margin-top: var(--rnb-spacing-small);
    margin-bottom: var(--rnb-spacing-small);
}

.vertical-medium {
    margin-top: var(--rnb-spacing-medium);
    margin-bottom: var(--rnb-spacing-medium);
}

.vertical-large {
    margin-top: var(--rnb-spacing-large);
    margin-bottom: var(--rnb-spacing-large);
}

.vertical-big {
    margin-top: var(--rnb-spacing-big);
    margin-bottom: var(--rnb-spacing-big);
}

.vertical-huge {
    margin-top: var(--rnb-spacing-huge);
    margin-bottom: var(--rnb-spacing-huge);
}

.vertical-super {
    margin-top: var(--rnb-spacing-super);
    margin-bottom: var(--rnb-spacing-super);
}

.vertical-jumbo {
    margin-top: var(--rnb-spacing-jumbo);
    margin-bottom: var(--rnb-spacing-jumbo);
}

/* MARGIN - X-AXIS */
.horizontal-micro {
    margin-left: var(--rnb-spacing-micro);
    margin-right: var(--rnb-spacing-micro);
}

.horizontal-tiny {
    margin-left: var(--rnb-spacing-tiny);
    margin-right: var(--rnb-spacing-tiny);
}

.horizontal-small {
    margin-left: var(--rnb-spacing-small);
    margin-right: var(--rnb-spacing-small);
}

.horizontal-medium {
    margin-left: var(--rnb-spacing-medium);
    margin-right: var(--rnb-spacing-medium);
}

.horizontal-large {
    margin-left: var(--rnb-spacing-large);
    margin-right: var(--rnb-spacing-large);
}

.horizontal-big {
    margin-left: var(--rnb-spacing-big);
    margin-right: var(--rnb-spacing-big);
}

.horizontal-huge {
    margin-left: var(--rnb-spacing-huge);
    margin-right: var(--rnb-spacing-huge);
}

.horizontal-super {
    margin-left: var(--rnb-spacing-super);
    margin-right: var(--rnb-spacing-super);
}

.horizontal-jumbo {
    margin-left: var(--rnb-spacing-jumbo);
    margin-right: var(--rnb-spacing-jumbo);
}

/* MARGIN - TOP */
.top-micro {
    margin-top: var(--rnb-spacing-micro);
}

.top-tiny {
    margin-top: var(--rnb-spacing-tiny);
}

.top-small {
    margin-top: var(--rnb-spacing-small);
}

.top-medium {
    margin-top: var(--rnb-spacing-medium);
}

.top-large {
    margin-top: var(--rnb-spacing-large);
}

.top-big {
    margin-top: var(--rnb-spacing-big);
}

.top-huge {
    margin-top: var(--rnb-spacing-huge);
}

.top-super {
    margin-top: var(--rnb-spacing-super);
}

.top-jumbo {
    margin-top: var(--rnb-spacing-jumbo);
}

/* MARGIN - BOTTOM */
.bottom-micro {
    margin-bottom: var(--rnb-spacing-micro);
}

.bottom-tiny {
    margin-bottom: var(--rnb-spacing-tiny);
}

.bottom-small {
    margin-bottom: var(--rnb-spacing-small);
}

.bottom-medium {
    margin-bottom: var(--rnb-spacing-medium);
}

.bottom-large {
    margin-bottom: var(--rnb-spacing-large);
}

.bottom-big {
    margin-bottom: var(--rnb-spacing-big);
}

.bottom-huge {
    margin-bottom: var(--rnb-spacing-huge);
}

.bottom-super {
    margin-bottom: var(--rnb-spacing-super);
}

.bottom-jumbo {
    margin-bottom: var(--rnb-spacing-jumbo);
}

/* MARGIN - LEFT */
.left-micro {
    margin-left: var(--rnb-spacing-micro);
}

.left-tiny {
    margin-left: var(--rnb-spacing-tiny);
}

.left-small {
    margin-left: var(--rnb-spacing-small);
}

.left-medium {
    margin-left: var(--rnb-spacing-medium);
}

.left-large {
    margin-left: var(--rnb-spacing-large);
}

.left-big {
    margin-left: var(--rnb-spacing-big);
}

.left-huge {
    margin-left: var(--rnb-spacing-huge);
}

.left-super {
    margin-left: var(--rnb-spacing-super);
}

.left-jumbo {
    margin-left: var(--rnb-spacing-jumbo);
}

/* MARGIN - RIGHT */
.right-micro {
    margin-right: var(--rnb-spacing-micro);
}

.right-tiny {
    margin-right: var(--rnb-spacing-tiny);
}

.right-small {
    margin-right: var(--rnb-spacing-small);
}

.right-medium {
    margin-right: var(--rnb-spacing-medium);
}

.right-large {
    margin-right: var(--rnb-spacing-large);
}

.right-big {
    margin-right: var(--rnb-spacing-big);
}

.right-huge {
    margin-right: var(--rnb-spacing-huge);
}

.right-super {
    margin-right: var(--rnb-spacing-super);
}

.right-jumbo {
    margin-right: var(--rnb-spacing-jumbo);
}

/* MARGIN - STACK */
.stack-micro > * + * {
    margin-top: var(--rnb-spacing-micro);
}

.stack-tiny > * + * {
    margin-top: var(--rnb-spacing-tiny);
}

.stack-small > * + * {
    margin-top: var(--rnb-spacing-small);
}

.stack-medium > * + * {
    margin-top: var(--rnb-spacing-medium);
}

.stack-large > * + * {
    margin-top: var(--rnb-spacing-large);
}

.stack-big > * + * {
    margin-top: var(--rnb-spacing-big);
}

.stack-huge > * + * {
    margin-top: var(--rnb-spacing-huge);
}

.stack-super > * + * {
    margin-top: var(--rnb-spacing-super);
}

.stack-jumbo > * + * {
    margin-top: var(--rnb-spacing-jumbo);
}

/* MARGIN - STACK HORIZONTAL */
.stack-h-micro > * + * {
    margin-left: var(--rnb-spacing-micro);
}

.stack-h-tiny > * + * {
    margin-left: var(--rnb-spacing-tiny);
}

.stack-h-small > * + * {
    margin-left: var(--rnb-spacing-small);
}

.stack-h-medium > * + * {
    margin-left: var(--rnb-spacing-medium);
}

.stack-h-large > * + * {
    margin-left: var(--rnb-spacing-large);
}

.stack-h-big > * + * {
    margin-left: var(--rnb-spacing-big);
}

.stack-h-huge > * + * {
    margin-left: var(--rnb-spacing-huge);
}

.stack-h-super > * + * {
    margin-left: var(--rnb-spacing-super);
}

.stack-h-jumbo > * + * {
    margin-left: var(--rnb-spacing-jumbo);
}

/************************
 * MEDIA QUERY -  SMALL *
 ************************/

@media (--rnb-mq-small) {
    /* MARGIN - Y-AXIS */
    .vertical-micro@small {
        margin-top: var(--rnb-spacing-micro);
        margin-bottom: var(--rnb-spacing-micro);
    }

    .vertical-tiny@small {
        margin-top: var(--rnb-spacing-tiny);
        margin-bottom: var(--rnb-spacing-tiny);
    }

    .vertical-small@small {
        margin-top: var(--rnb-spacing-small);
        margin-bottom: var(--rnb-spacing-small);
    }

    .vertical-medium@small {
        margin-top: var(--rnb-spacing-medium);
        margin-bottom: var(--rnb-spacing-medium);
    }

    .vertical-large@small {
        margin-top: var(--rnb-spacing-large);
        margin-bottom: var(--rnb-spacing-large);
    }

    .vertical-big@small {
        margin-top: var(--rnb-spacing-big);
        margin-bottom: var(--rnb-spacing-big);
    }

    .vertical-huge@small {
        margin-top: var(--rnb-spacing-huge);
        margin-bottom: var(--rnb-spacing-huge);
    }

    .vertical-super@small {
        margin-top: var(--rnb-spacing-super);
        margin-bottom: var(--rnb-spacing-super);
    }

    .vertical-jumbo@small {
        margin-top: var(--rnb-spacing-jumbo);
        margin-bottom: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - X-AXIS */
    .horizontal-micro@small {
        margin-left: var(--rnb-spacing-micro);
        margin-right: var(--rnb-spacing-micro);
    }

    .horizontal-tiny@small {
        margin-left: var(--rnb-spacing-tiny);
        margin-right: var(--rnb-spacing-tiny);
    }

    .horizontal-small@small {
        margin-left: var(--rnb-spacing-small);
        margin-right: var(--rnb-spacing-small);
    }

    .horizontal-medium@small {
        margin-left: var(--rnb-spacing-medium);
        margin-right: var(--rnb-spacing-medium);
    }

    .horizontal-large@small {
        margin-left: var(--rnb-spacing-large);
        margin-right: var(--rnb-spacing-large);
    }

    .horizontal-big@small {
        margin-left: var(--rnb-spacing-big);
        margin-right: var(--rnb-spacing-big);
    }

    .horizontal-huge@small {
        margin-left: var(--rnb-spacing-huge);
        margin-right: var(--rnb-spacing-huge);
    }

    .horizontal-super@small {
        margin-left: var(--rnb-spacing-super);
        margin-right: var(--rnb-spacing-super);
    }

    .horizontal-jumbo@small {
        margin-left: var(--rnb-spacing-jumbo);
        margin-right: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - TOP */
    .top-micro@small {
        margin-top: var(--rnb-spacing-micro);
    }

    .top-tiny@small {
        margin-top: var(--rnb-spacing-tiny);
    }

    .top-small@small {
        margin-top: var(--rnb-spacing-small);
    }

    .top-medium@small {
        margin-top: var(--rnb-spacing-medium);
    }

    .top-large@small {
        margin-top: var(--rnb-spacing-large);
    }

    .top-big@small {
        margin-top: var(--rnb-spacing-big);
    }

    .top-huge@small {
        margin-top: var(--rnb-spacing-huge);
    }

    .top-super@small {
        margin-top: var(--rnb-spacing-super);
    }

    .top-jumbo@small {
        margin-top: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - BOTTOM */
    .bottom-micro@small {
        margin-bottom: var(--rnb-spacing-micro);
    }

    .bottom-tiny@small {
        margin-bottom: var(--rnb-spacing-tiny);
    }

    .bottom-small@small {
        margin-bottom: var(--rnb-spacing-small);
    }

    .bottom-medium@small {
        margin-bottom: var(--rnb-spacing-medium);
    }

    .bottom-large@small {
        margin-bottom: var(--rnb-spacing-large);
    }

    .bottom-big@small {
        margin-bottom: var(--rnb-spacing-big);
    }

    .bottom-huge@small {
        margin-bottom: var(--rnb-spacing-huge);
    }

    .bottom-super@small {
        margin-bottom: var(--rnb-spacing-super);
    }

    .bottom-jumbo@small {
        margin-bottom: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - LEFT */
    .left-micro@small {
        margin-left: var(--rnb-spacing-micro);
    }

    .left-tiny@small {
        margin-left: var(--rnb-spacing-tiny);
    }

    .left-small@small {
        margin-left: var(--rnb-spacing-small);
    }

    .left-medium@small {
        margin-left: var(--rnb-spacing-medium);
    }

    .left-large@small {
        margin-left: var(--rnb-spacing-large);
    }

    .left-big@small {
        margin-left: var(--rnb-spacing-big);
    }

    .left-huge@small {
        margin-left: var(--rnb-spacing-huge);
    }

    .left-super@small {
        margin-left: var(--rnb-spacing-super);
    }

    .left-jumbo@small {
        margin-left: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - RIGHT */
    .right-micro@small {
        margin-right: var(--rnb-spacing-micro);
    }

    .right-tiny@small {
        margin-right: var(--rnb-spacing-tiny);
    }

    .right-small@small {
        margin-right: var(--rnb-spacing-small);
    }

    .right-medium@small {
        margin-right: var(--rnb-spacing-medium);
    }

    .right-large@small {
        margin-right: var(--rnb-spacing-large);
    }

    .right-big@small {
        margin-right: var(--rnb-spacing-big);
    }

    .right-huge@small {
        margin-right: var(--rnb-spacing-huge);
    }

    .right-super@small {
        margin-right: var(--rnb-spacing-super);
    }

    .right-jumbo@small {
        margin-right: var(--rnb-spacing-jumbo);
    }

    /* STACK */
    .stack-micro@small > * + * {
        margin-top: var(--rnb-spacing-micro);
    }

    .stack-tiny@small > * + * {
        margin-top: var(--rnb-spacing-tiny);
    }

    .stack-small@small > * + * {
        margin-top: var(--rnb-spacing-small);
    }

    .stack-medium@small > * + * {
        margin-top: var(--rnb-spacing-medium);
    }

    .stack-large@small > * + * {
        margin-top: var(--rnb-spacing-large);
    }

    .stack-big@small > * + * {
        margin-top: var(--rnb-spacing-big);
    }

    .stack-huge@small > * + * {
        margin-top: var(--rnb-spacing-huge);
    }

    .stack-super@small > * + * {
        margin-top: var(--rnb-spacing-super);
    }

    .stack-jumbo@small > * + * {
        margin-top: var(--rnb-spacing-jumbo);
    }
    .stack-h-micro@small > * + * {
        margin-left: var(--rnb-spacing-micro);
    }

    .stack-h-tiny@small > * + * {
        margin-left: var(--rnb-spacing-tiny);
    }

    .stack-h-small@small > * + * {
        margin-left: var(--rnb-spacing-small);
    }

    .stack-h-medium@small > * + * {
        margin-left: var(--rnb-spacing-medium);
    }

    .stack-h-large@small > * + * {
        margin-left: var(--rnb-spacing-large);
    }

    .stack-h-big@small > * + * {
        margin-left: var(--rnb-spacing-big);
    }

    .stack-h-huge@small > * + * {
        margin-left: var(--rnb-spacing-huge);
    }

    .stack-h-super@small > * + * {
        margin-left: var(--rnb-spacing-super);
    }

    .stack-h-jumbo@small > * + * {
        margin-left: var(--rnb-spacing-jumbo);
    }
}

/************************
 * MEDIA QUERY -  PHABLET *
 ************************/

@media (--rnb-mq-phablet) {
    /* MARGIN - Y-AXIS */
    .vertical-micro@phablet {
        margin-top: var(--rnb-spacing-micro);
        margin-bottom: var(--rnb-spacing-micro);
    }

    .vertical-tiny@phablet {
        margin-top: var(--rnb-spacing-tiny);
        margin-bottom: var(--rnb-spacing-tiny);
    }

    .vertical-small@phablet {
        margin-top: var(--rnb-spacing-small);
        margin-bottom: var(--rnb-spacing-small);
    }

    .vertical-medium@phablet {
        margin-top: var(--rnb-spacing-medium);
        margin-bottom: var(--rnb-spacing-medium);
    }

    .vertical-large@phablet {
        margin-top: var(--rnb-spacing-large);
        margin-bottom: var(--rnb-spacing-large);
    }

    .vertical-big@phablet {
        margin-top: var(--rnb-spacing-big);
        margin-bottom: var(--rnb-spacing-big);
    }

    .vertical-huge@phablet {
        margin-top: var(--rnb-spacing-huge);
        margin-bottom: var(--rnb-spacing-huge);
    }

    .vertical-super@phablet {
        margin-top: var(--rnb-spacing-super);
        margin-bottom: var(--rnb-spacing-super);
    }

    .vertical-jumbo@phablet {
        margin-top: var(--rnb-spacing-jumbo);
        margin-bottom: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - X-AXIS */
    .horizontal-micro@phablet {
        margin-left: var(--rnb-spacing-micro);
        margin-right: var(--rnb-spacing-micro);
    }

    .horizontal-tiny@phablet {
        margin-left: var(--rnb-spacing-tiny);
        margin-right: var(--rnb-spacing-tiny);
    }

    .horizontal-small@phablet {
        margin-left: var(--rnb-spacing-small);
        margin-right: var(--rnb-spacing-small);
    }

    .horizontal-medium@phablet {
        margin-left: var(--rnb-spacing-medium);
        margin-right: var(--rnb-spacing-medium);
    }

    .horizontal-large@phablet {
        margin-left: var(--rnb-spacing-large);
        margin-right: var(--rnb-spacing-large);
    }

    .horizontal-big@phablet {
        margin-left: var(--rnb-spacing-big);
        margin-right: var(--rnb-spacing-big);
    }

    .horizontal-huge@phablet {
        margin-left: var(--rnb-spacing-huge);
        margin-right: var(--rnb-spacing-huge);
    }

    .horizontal-super@phablet {
        margin-left: var(--rnb-spacing-super);
        margin-right: var(--rnb-spacing-super);
    }

    .horizontal-jumbo@phablet {
        margin-left: var(--rnb-spacing-jumbo);
        margin-right: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - TOP */
    .top-micro@phablet {
        margin-top: var(--rnb-spacing-micro);
    }

    .top-tiny@phablet {
        margin-top: var(--rnb-spacing-tiny);
    }

    .top-small@phablet {
        margin-top: var(--rnb-spacing-small);
    }

    .top-medium@phablet {
        margin-top: var(--rnb-spacing-medium);
    }

    .top-large@phablet {
        margin-top: var(--rnb-spacing-large);
    }

    .top-big@phablet {
        margin-top: var(--rnb-spacing-big);
    }

    .top-huge@phablet {
        margin-top: var(--rnb-spacing-huge);
    }

    .top-super@phablet {
        margin-top: var(--rnb-spacing-super);
    }

    .top-jumbo@phablet {
        margin-top: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - BOTTOM */
    .bottom-micro@phablet {
        margin-bottom: var(--rnb-spacing-micro);
    }

    .bottom-tiny@phablet {
        margin-bottom: var(--rnb-spacing-tiny);
    }

    .bottom-small@phablet {
        margin-bottom: var(--rnb-spacing-small);
    }

    .bottom-medium@phablet {
        margin-bottom: var(--rnb-spacing-medium);
    }

    .bottom-large@phablet {
        margin-bottom: var(--rnb-spacing-large);
    }

    .bottom-big@phablet {
        margin-bottom: var(--rnb-spacing-big);
    }

    .bottom-huge@phablet {
        margin-bottom: var(--rnb-spacing-huge);
    }

    .bottom-super@phablet {
        margin-bottom: var(--rnb-spacing-super);
    }

    .bottom-jumbo@phablet {
        margin-bottom: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - LEFT */
    .left-micro@phablet {
        margin-left: var(--rnb-spacing-micro);
    }

    .left-tiny@phablet {
        margin-left: var(--rnb-spacing-tiny);
    }

    .left-small@phablet {
        margin-left: var(--rnb-spacing-small);
    }

    .left-medium@phablet {
        margin-left: var(--rnb-spacing-medium);
    }

    .left-large@phablet {
        margin-left: var(--rnb-spacing-large);
    }

    .left-big@phablet {
        margin-left: var(--rnb-spacing-big);
    }

    .left-huge@phablet {
        margin-left: var(--rnb-spacing-huge);
    }

    .left-super@phablet {
        margin-left: var(--rnb-spacing-super);
    }

    .left-jumbo@phablet {
        margin-left: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - RIGHT */
    .right-micro@phablet {
        margin-right: var(--rnb-spacing-micro);
    }

    .right-tiny@phablet {
        margin-right: var(--rnb-spacing-tiny);
    }

    .right-small@phablet {
        margin-right: var(--rnb-spacing-small);
    }

    .right-medium@phablet {
        margin-right: var(--rnb-spacing-medium);
    }

    .right-large@phablet {
        margin-right: var(--rnb-spacing-large);
    }

    .right-big@phablet {
        margin-right: var(--rnb-spacing-big);
    }

    .right-huge@phablet {
        margin-right: var(--rnb-spacing-huge);
    }

    .right-super@phablet {
        margin-right: var(--rnb-spacing-super);
    }

    .right-jumbo@phablet {
        margin-right: var(--rnb-spacing-jumbo);
    }

    /* STACK */
    .stack-micro@phablet > * + * {
        margin-top: var(--rnb-spacing-micro);
    }

    .stack-tiny@phablet > * + * {
        margin-top: var(--rnb-spacing-tiny);
    }

    .stack-small@phablet > * + * {
        margin-top: var(--rnb-spacing-small);
    }

    .stack-medium@phablet > * + * {
        margin-top: var(--rnb-spacing-medium);
    }

    .stack-large@phablet > * + * {
        margin-top: var(--rnb-spacing-large);
    }

    .stack-big@phablet > * + * {
        margin-top: var(--rnb-spacing-big);
    }

    .stack-huge@phablet > * + * {
        margin-top: var(--rnb-spacing-huge);
    }

    .stack-super@phablet > * + * {
        margin-top: var(--rnb-spacing-super);
    }

    .stack-jumbo@phablet > * + * {
        margin-top: var(--rnb-spacing-jumbo);
    }
    .stack-h-micro@phablet > * + * {
        margin-top: var(--rnb-spacing-micro);
    }

    .stack-h-tiny@phablet > * + * {
        margin-top: var(--rnb-spacing-tiny);
    }

    .stack-h-small@phablet > * + * {
        margin-top: var(--rnb-spacing-small);
    }

    .stack-h-medium@phablet > * + * {
        margin-top: var(--rnb-spacing-medium);
    }

    .stack-h-large@phablet > * + * {
        margin-top: var(--rnb-spacing-large);
    }

    .stack-h-big@phablet > * + * {
        margin-top: var(--rnb-spacing-big);
    }

    .stack-h-huge@phablet > * + * {
        margin-top: var(--rnb-spacing-huge);
    }

    .stack-h-super@phablet > * + * {
        margin-top: var(--rnb-spacing-super);
    }

    .stack-h-jumbo@phablet > * + * {
        margin-top: var(--rnb-spacing-jumbo);
    }
}

/************************
 * MEDIA QUERY -  MEDIUM *
 ************************/

@media (--rnb-mq-medium) {
    /* MARGIN - Y-AXIS */
    .vertical-micro@medium {
        margin-top: var(--rnb-spacing-micro);
        margin-bottom: var(--rnb-spacing-micro);
    }

    .vertical-tiny@medium {
        margin-top: var(--rnb-spacing-tiny);
        margin-bottom: var(--rnb-spacing-tiny);
    }

    .vertical-small@medium {
        margin-top: var(--rnb-spacing-small);
        margin-bottom: var(--rnb-spacing-small);
    }

    .vertical-medium@medium {
        margin-top: var(--rnb-spacing-medium);
        margin-bottom: var(--rnb-spacing-medium);
    }

    .vertical-large@medium {
        margin-top: var(--rnb-spacing-large);
        margin-bottom: var(--rnb-spacing-large);
    }

    .vertical-big@medium {
        margin-top: var(--rnb-spacing-big);
        margin-bottom: var(--rnb-spacing-big);
    }

    .vertical-huge@medium {
        margin-top: var(--rnb-spacing-huge);
        margin-bottom: var(--rnb-spacing-huge);
    }

    .vertical-super@medium {
        margin-top: var(--rnb-spacing-super);
        margin-bottom: var(--rnb-spacing-super);
    }

    .vertical-jumbo@medium {
        margin-top: var(--rnb-spacing-jumbo);
        margin-bottom: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - X-AXIS */
    .horizontal-micro@medium {
        margin-left: var(--rnb-spacing-micro);
        margin-right: var(--rnb-spacing-micro);
    }

    .horizontal-tiny@medium {
        margin-left: var(--rnb-spacing-tiny);
        margin-right: var(--rnb-spacing-tiny);
    }

    .horizontal-small@medium {
        margin-left: var(--rnb-spacing-small);
        margin-right: var(--rnb-spacing-small);
    }

    .horizontal-medium@medium {
        margin-left: var(--rnb-spacing-medium);
        margin-right: var(--rnb-spacing-medium);
    }

    .horizontal-large@medium {
        margin-left: var(--rnb-spacing-large);
        margin-right: var(--rnb-spacing-large);
    }

    .horizontal-big@medium {
        margin-left: var(--rnb-spacing-big);
        margin-right: var(--rnb-spacing-big);
    }

    .horizontal-huge@medium {
        margin-left: var(--rnb-spacing-huge);
        margin-right: var(--rnb-spacing-huge);
    }

    .horizontal-super@medium {
        margin-left: var(--rnb-spacing-super);
        margin-right: var(--rnb-spacing-super);
    }

    .horizontal-jumbo@medium {
        margin-left: var(--rnb-spacing-jumbo);
        margin-right: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - TOP */
    .top-micro@medium {
        margin-top: var(--rnb-spacing-micro);
    }

    .top-tiny@medium {
        margin-top: var(--rnb-spacing-tiny);
    }

    .top-small@medium {
        margin-top: var(--rnb-spacing-small);
    }

    .top-medium@medium {
        margin-top: var(--rnb-spacing-medium);
    }

    .top-large@medium {
        margin-top: var(--rnb-spacing-large);
    }

    .top-big@medium {
        margin-top: var(--rnb-spacing-big);
    }

    .top-huge@medium {
        margin-top: var(--rnb-spacing-huge);
    }

    .top-super@medium {
        margin-top: var(--rnb-spacing-super);
    }

    .top-jumbo@medium {
        margin-top: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - BOTTOM */
    .bottom-micro@medium {
        margin-bottom: var(--rnb-spacing-micro);
    }

    .bottom-tiny@medium {
        margin-bottom: var(--rnb-spacing-tiny);
    }

    .bottom-small@medium {
        margin-bottom: var(--rnb-spacing-small);
    }

    .bottom-medium@medium {
        margin-bottom: var(--rnb-spacing-medium);
    }

    .bottom-large@medium {
        margin-bottom: var(--rnb-spacing-large);
    }

    .bottom-big@medium {
        margin-bottom: var(--rnb-spacing-big);
    }

    .bottom-huge@medium {
        margin-bottom: var(--rnb-spacing-huge);
    }

    .bottom-super@medium {
        margin-bottom: var(--rnb-spacing-super);
    }

    .bottom-jumbo@medium {
        margin-bottom: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - LEFT */
    .left-micro@medium {
        margin-left: var(--rnb-spacing-micro);
    }

    .left-tiny@medium {
        margin-left: var(--rnb-spacing-tiny);
    }

    .left-small@medium {
        margin-left: var(--rnb-spacing-small);
    }

    .left-medium@medium {
        margin-left: var(--rnb-spacing-medium);
    }

    .left-large@medium {
        margin-left: var(--rnb-spacing-large);
    }

    .left-big@medium {
        margin-left: var(--rnb-spacing-big);
    }

    .left-huge@medium {
        margin-left: var(--rnb-spacing-huge);
    }

    .left-super@medium {
        margin-left: var(--rnb-spacing-super);
    }

    .left-jumbo@medium {
        margin-left: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - RIGHT */
    .right-micro@medium {
        margin-right: var(--rnb-spacing-micro);
    }

    .right-tiny@medium {
        margin-right: var(--rnb-spacing-tiny);
    }

    .right-small@medium {
        margin-right: var(--rnb-spacing-small);
    }

    .right-medium@medium {
        margin-right: var(--rnb-spacing-medium);
    }

    .right-large@medium {
        margin-right: var(--rnb-spacing-large);
    }

    .right-big@medium {
        margin-right: var(--rnb-spacing-big);
    }

    .right-huge@medium {
        margin-right: var(--rnb-spacing-huge);
    }

    .right-super@medium {
        margin-right: var(--rnb-spacing-super);
    }

    .right-jumbo@medium {
        margin-right: var(--rnb-spacing-jumbo);
    }

    /* STACK */
    .stack-micro@medium > * + * {
        margin-top: var(--rnb-spacing-micro);
    }

    .stack-tiny@medium > * + * {
        margin-top: var(--rnb-spacing-tiny);
    }

    .stack-small@medium > * + * {
        margin-top: var(--rnb-spacing-small);
    }

    .stack-medium@medium > * + * {
        margin-top: var(--rnb-spacing-medium);
    }

    .stack-large@medium > * + * {
        margin-top: var(--rnb-spacing-large);
    }

    .stack-big@medium > * + * {
        margin-top: var(--rnb-spacing-big);
    }

    .stack-huge@medium > * + * {
        margin-top: var(--rnb-spacing-huge);
    }

    .stack-super@medium > * + * {
        margin-top: var(--rnb-spacing-super);
    }

    .stack-jumbo@medium > * + * {
        margin-top: var(--rnb-spacing-jumbo);
    }
    .stack-h-micro@medium > * + * {
        margin-left: var(--rnb-spacing-micro);
    }

    .stack-h-tiny@medium > * + * {
        margin-left: var(--rnb-spacing-tiny);
    }

    .stack-h-small@medium > * + * {
        margin-left: var(--rnb-spacing-small);
    }

    .stack-h-medium@medium > * + * {
        margin-left: var(--rnb-spacing-medium);
    }

    .stack-h-large@medium > * + * {
        margin-left: var(--rnb-spacing-large);
    }

    .stack-h-big@medium > * + * {
        margin-left: var(--rnb-spacing-big);
    }

    .stack-h-huge@medium > * + * {
        margin-left: var(--rnb-spacing-huge);
    }

    .stack-h-super@medium > * + * {
        margin-left: var(--rnb-spacing-super);
    }

    .stack-h-jumbo@medium > * + * {
        margin-left: var(--rnb-spacing-jumbo);
    }
}

/************************
 * MEDIA QUERY -  LARGE *
 ************************/

@media (--rnb-mq-large) {
    /* MARGIN - Y-AXIS */
    .vertical-micro@large {
        margin-top: var(--rnb-spacing-micro);
        margin-bottom: var(--rnb-spacing-micro);
    }

    .vertical-tiny@large {
        margin-top: var(--rnb-spacing-tiny);
        margin-bottom: var(--rnb-spacing-tiny);
    }

    .vertical-small@large {
        margin-top: var(--rnb-spacing-small);
        margin-bottom: var(--rnb-spacing-small);
    }

    .vertical-medium@large {
        margin-top: var(--rnb-spacing-medium);
        margin-bottom: var(--rnb-spacing-medium);
    }

    .vertical-large@large {
        margin-top: var(--rnb-spacing-large);
        margin-bottom: var(--rnb-spacing-large);
    }

    .vertical-big@large {
        margin-top: var(--rnb-spacing-big);
        margin-bottom: var(--rnb-spacing-big);
    }

    .vertical-huge@large {
        margin-top: var(--rnb-spacing-huge);
        margin-bottom: var(--rnb-spacing-huge);
    }

    .vertical-super@large {
        margin-top: var(--rnb-spacing-super);
        margin-bottom: var(--rnb-spacing-super);
    }

    .vertical-jumbo@large {
        margin-top: var(--rnb-spacing-jumbo);
        margin-bottom: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - X-AXIS */
    .horizontal-micro@large {
        margin-left: var(--rnb-spacing-micro);
        margin-right: var(--rnb-spacing-micro);
    }

    .horizontal-tiny@large {
        margin-left: var(--rnb-spacing-tiny);
        margin-right: var(--rnb-spacing-tiny);
    }

    .horizontal-small@large {
        margin-left: var(--rnb-spacing-small);
        margin-right: var(--rnb-spacing-small);
    }

    .horizontal-medium@large {
        margin-left: var(--rnb-spacing-medium);
        margin-right: var(--rnb-spacing-medium);
    }

    .horizontal-large@large {
        margin-left: var(--rnb-spacing-large);
        margin-right: var(--rnb-spacing-large);
    }

    .horizontal-big@large {
        margin-left: var(--rnb-spacing-big);
        margin-right: var(--rnb-spacing-big);
    }

    .horizontal-huge@large {
        margin-left: var(--rnb-spacing-huge);
        margin-right: var(--rnb-spacing-huge);
    }

    .horizontal-super@large {
        margin-left: var(--rnb-spacing-super);
        margin-right: var(--rnb-spacing-super);
    }

    .horizontal-jumbo@large {
        margin-left: var(--rnb-spacing-jumbo);
        margin-right: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - TOP */
    .top-micro@large {
        margin-top: var(--rnb-spacing-micro);
    }

    .top-tiny@large {
        margin-top: var(--rnb-spacing-tiny);
    }

    .top-small@large {
        margin-top: var(--rnb-spacing-small);
    }

    .top-medium@large {
        margin-top: var(--rnb-spacing-medium);
    }

    .top-large@large {
        margin-top: var(--rnb-spacing-large);
    }

    .top-big@large {
        margin-top: var(--rnb-spacing-big);
    }

    .top-huge@large {
        margin-top: var(--rnb-spacing-huge);
    }

    .top-super@large {
        margin-top: var(--rnb-spacing-super);
    }

    .top-jumbo@large {
        margin-top: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - BOTTOM */
    .bottom-micro@large {
        margin-bottom: var(--rnb-spacing-micro);
    }

    .bottom-tiny@large {
        margin-bottom: var(--rnb-spacing-tiny);
    }

    .bottom-small@large {
        margin-bottom: var(--rnb-spacing-small);
    }

    .bottom-medium@large {
        margin-bottom: var(--rnb-spacing-medium);
    }

    .bottom-large@large {
        margin-bottom: var(--rnb-spacing-large);
    }

    .bottom-big@large {
        margin-bottom: var(--rnb-spacing-big);
    }

    .bottom-huge@large {
        margin-bottom: var(--rnb-spacing-huge);
    }

    .bottom-super@large {
        margin-bottom: var(--rnb-spacing-super);
    }

    .bottom-jumbo@large {
        margin-bottom: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - LEFT */
    .left-micro@large {
        margin-left: var(--rnb-spacing-micro);
    }

    .left-tiny@large {
        margin-left: var(--rnb-spacing-tiny);
    }

    .left-small@large {
        margin-left: var(--rnb-spacing-small);
    }

    .left-medium@large {
        margin-left: var(--rnb-spacing-medium);
    }

    .left-large@large {
        margin-left: var(--rnb-spacing-large);
    }

    .left-big@large {
        margin-left: var(--rnb-spacing-big);
    }

    .left-huge@large {
        margin-left: var(--rnb-spacing-huge);
    }

    .left-super@large {
        margin-left: var(--rnb-spacing-super);
    }

    .left-jumbo@large {
        margin-left: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - RIGHT */
    .right-micro@large {
        margin-right: var(--rnb-spacing-micro);
    }

    .right-tiny@large {
        margin-right: var(--rnb-spacing-tiny);
    }

    .right-small@large {
        margin-right: var(--rnb-spacing-small);
    }

    .right-medium@large {
        margin-right: var(--rnb-spacing-medium);
    }

    .right-large@large {
        margin-right: var(--rnb-spacing-large);
    }

    .right-big@large {
        margin-right: var(--rnb-spacing-big);
    }

    .right-huge@large {
        margin-right: var(--rnb-spacing-huge);
    }

    .right-super@large {
        margin-right: var(--rnb-spacing-super);
    }

    .right-jumbo@large {
        margin-right: var(--rnb-spacing-jumbo);
    }

    /* STACK */
    .stack-micro@large > * + * {
        margin-top: var(--rnb-spacing-micro);
    }

    .stack-tiny@large > * + * {
        margin-top: var(--rnb-spacing-tiny);
    }

    .stack-small@large > * + * {
        margin-top: var(--rnb-spacing-small);
    }

    .stack-medium@large > * + * {
        margin-top: var(--rnb-spacing-medium);
    }

    .stack-large@large > * + * {
        margin-top: var(--rnb-spacing-large);
    }

    .stack-big@large > * + * {
        margin-top: var(--rnb-spacing-big);
    }

    .stack-huge@large > * + * {
        margin-top: var(--rnb-spacing-huge);
    }

    .stack-super@large > * + * {
        margin-top: var(--rnb-spacing-super);
    }

    .stack-jumbo@large > * + * {
        margin-top: var(--rnb-spacing-jumbo);
    }
    .stack-h-micro@large > * + * {
        margin-left: var(--rnb-spacing-micro);
    }

    .stack-h-tiny@large > * + * {
        margin-left: var(--rnb-spacing-tiny);
    }

    .stack-h-small@large > * + * {
        margin-left: var(--rnb-spacing-small);
    }

    .stack-h-medium@large > * + * {
        margin-left: var(--rnb-spacing-medium);
    }

    .stack-h-large@large > * + * {
        margin-left: var(--rnb-spacing-large);
    }

    .stack-h-big@large > * + * {
        margin-left: var(--rnb-spacing-big);
    }

    .stack-h-huge@large > * + * {
        margin-left: var(--rnb-spacing-huge);
    }

    .stack-h-super@large > * + * {
        margin-left: var(--rnb-spacing-super);
    }

    .stack-h-jumbo@large > * + * {
        margin-left: var(--rnb-spacing-jumbo);
    }
}

/************************
 * MEDIA QUERY -  HUGE *
 ************************/

@media (--rnb-mq-huge) {
    /* MARGIN - Y-AXIS */
    .vertical-micro@huge {
        margin-top: var(--rnb-spacing-micro);
        margin-bottom: var(--rnb-spacing-micro);
    }

    .vertical-tiny@huge {
        margin-top: var(--rnb-spacing-tiny);
        margin-bottom: var(--rnb-spacing-tiny);
    }

    .vertical-small@huge {
        margin-top: var(--rnb-spacing-small);
        margin-bottom: var(--rnb-spacing-small);
    }

    .vertical-medium@huge {
        margin-top: var(--rnb-spacing-medium);
        margin-bottom: var(--rnb-spacing-medium);
    }

    .vertical-large@huge {
        margin-top: var(--rnb-spacing-large);
        margin-bottom: var(--rnb-spacing-large);
    }

    .vertical-big@huge {
        margin-top: var(--rnb-spacing-big);
        margin-bottom: var(--rnb-spacing-big);
    }

    .vertical-huge@huge {
        margin-top: var(--rnb-spacing-huge);
        margin-bottom: var(--rnb-spacing-huge);
    }

    .vertical-super@huge {
        margin-top: var(--rnb-spacing-super);
        margin-bottom: var(--rnb-spacing-super);
    }

    .vertical-jumbo@huge {
        margin-top: var(--rnb-spacing-jumbo);
        margin-bottom: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - X-AXIS */
    .horizontal-micro@huge {
        margin-left: var(--rnb-spacing-micro);
        margin-right: var(--rnb-spacing-micro);
    }

    .horizontal-tiny@huge {
        margin-left: var(--rnb-spacing-tiny);
        margin-right: var(--rnb-spacing-tiny);
    }

    .horizontal-small@huge {
        margin-left: var(--rnb-spacing-small);
        margin-right: var(--rnb-spacing-small);
    }

    .horizontal-medium@huge {
        margin-left: var(--rnb-spacing-medium);
        margin-right: var(--rnb-spacing-medium);
    }

    .horizontal-large@huge {
        margin-left: var(--rnb-spacing-large);
        margin-right: var(--rnb-spacing-large);
    }

    .horizontal-big@huge {
        margin-left: var(--rnb-spacing-big);
        margin-right: var(--rnb-spacing-big);
    }

    .horizontal-huge@huge {
        margin-left: var(--rnb-spacing-huge);
        margin-right: var(--rnb-spacing-huge);
    }

    .horizontal-super@huge {
        margin-left: var(--rnb-spacing-super);
        margin-right: var(--rnb-spacing-super);
    }

    .horizontal-jumbo@huge {
        margin-left: var(--rnb-spacing-jumbo);
        margin-right: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - TOP */
    .top-micro@huge {
        margin-top: var(--rnb-spacing-micro);
    }

    .top-tiny@huge {
        margin-top: var(--rnb-spacing-tiny);
    }

    .top-small@huge {
        margin-top: var(--rnb-spacing-small);
    }

    .top-medium@huge {
        margin-top: var(--rnb-spacing-medium);
    }

    .top-large@huge {
        margin-top: var(--rnb-spacing-large);
    }

    .top-big@huge {
        margin-top: var(--rnb-spacing-big);
    }

    .top-huge@huge {
        margin-top: var(--rnb-spacing-huge);
    }

    .top-super@huge {
        margin-top: var(--rnb-spacing-super);
    }

    .top-jumbo@huge {
        margin-top: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - BOTTOM */
    .bottom-micro@huge {
        margin-bottom: var(--rnb-spacing-micro);
    }

    .bottom-tiny@huge {
        margin-bottom: var(--rnb-spacing-tiny);
    }

    .bottom-small@huge {
        margin-bottom: var(--rnb-spacing-small);
    }

    .bottom-medium@huge {
        margin-bottom: var(--rnb-spacing-medium);
    }

    .bottom-large@huge {
        margin-bottom: var(--rnb-spacing-large);
    }

    .bottom-big@huge {
        margin-bottom: var(--rnb-spacing-big);
    }

    .bottom-huge@huge {
        margin-bottom: var(--rnb-spacing-huge);
    }

    .bottom-super@huge {
        margin-bottom: var(--rnb-spacing-super);
    }

    .bottom-jumbo@huge {
        margin-bottom: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - LEFT */
    .left-micro@huge {
        margin-left: var(--rnb-spacing-micro);
    }

    .left-tiny@huge {
        margin-left: var(--rnb-spacing-tiny);
    }

    .left-small@huge {
        margin-left: var(--rnb-spacing-small);
    }

    .left-medium@huge {
        margin-left: var(--rnb-spacing-medium);
    }

    .left-large@huge {
        margin-left: var(--rnb-spacing-large);
    }

    .left-big@huge {
        margin-left: var(--rnb-spacing-big);
    }

    .left-huge@huge {
        margin-left: var(--rnb-spacing-huge);
    }

    .left-super@huge {
        margin-left: var(--rnb-spacing-super);
    }

    .left-jumbo@huge {
        margin-left: var(--rnb-spacing-jumbo);
    }

    /* MARGIN - RIGHT */
    .right-micro@huge {
        margin-right: var(--rnb-spacing-micro);
    }

    .right-tiny@huge {
        margin-right: var(--rnb-spacing-tiny);
    }

    .right-small@huge {
        margin-right: var(--rnb-spacing-small);
    }

    .right-medium@huge {
        margin-right: var(--rnb-spacing-medium);
    }

    .right-large@huge {
        margin-right: var(--rnb-spacing-large);
    }

    .right-big@huge {
        margin-right: var(--rnb-spacing-big);
    }

    .right-huge@huge {
        margin-right: var(--rnb-spacing-huge);
    }

    .right-super@huge {
        margin-right: var(--rnb-spacing-super);
    }

    .right-jumbo@huge {
        margin-right: var(--rnb-spacing-jumbo);
    }

    /* STACK */
    .stack-micro@huge > * + * {
        margin-top: var(--rnb-spacing-micro);
    }

    .stack-tiny@huge > * + * {
        margin-top: var(--rnb-spacing-tiny);
    }

    .stack-small@huge > * + * {
        margin-top: var(--rnb-spacing-small);
    }

    .stack-medium@huge > * + * {
        margin-top: var(--rnb-spacing-medium);
    }

    .stack-large@huge > * + * {
        margin-top: var(--rnb-spacing-large);
    }

    .stack-big@huge > * + * {
        margin-top: var(--rnb-spacing-big);
    }

    .stack-huge@huge > * + * {
        margin-top: var(--rnb-spacing-huge);
    }

    .stack-super@huge > * + * {
        margin-top: var(--rnb-spacing-super);
    }

    .stack-jumbo@huge > * + * {
        margin-top: var(--rnb-spacing-jumbo);
    }
    .stack-h-micro@huge > * + * {
        margin-left: var(--rnb-spacing-micro);
    }

    .stack-h-tiny@huge > * + * {
        margin-left: var(--rnb-spacing-tiny);
    }

    .stack-h-small@huge > * + * {
        margin-left: var(--rnb-spacing-small);
    }

    .stack-h-medium@huge > * + * {
        margin-left: var(--rnb-spacing-medium);
    }

    .stack-h-large@huge > * + * {
        margin-left: var(--rnb-spacing-large);
    }

    .stack-h-big@huge > * + * {
        margin-left: var(--rnb-spacing-big);
    }

    .stack-h-huge@huge > * + * {
        margin-left: var(--rnb-spacing-huge);
    }

    .stack-h-super@huge > * + * {
        margin-left: var(--rnb-spacing-super);
    }

    .stack-h-jumbo@huge > * + * {
        margin-left: var(--rnb-spacing-jumbo);
    }
}
