.idea/
node_modules/
.react-router
dist
coverage
compiled
public
docs
.DS_Store
.swp
.divshot-cache/
*.iml
*.log
tests_output
webpack-stats.json
vendor-manifest.json
mongodb/*
tests_screenshots
aws
.env
.env.production
.cache
.yarn/cache
/junit.xml
/.env.development
.npmrc

# Local Netlify folder
.netlify

.yarn/cache
.vercel
