/* Location: app/leagues/components/position-rank-change.module.css */

.positionRankChange {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-1);
}

.points {
    font-size: var(--font-xs);
    color: var(--color-gray-400);
}

.rankChange {
    font-size: var(--font-xs);
    border-radius: var(--radius-sm);
    line-height: 1;
    /*min-width: 1.25rem;*/
    text-align: center;
    font-weight: 500;
}

.improvement {
    color: var(--color-success);
    /*background-color: var(--color-success-light);*/
}

.decline {
    color: var(--color-error);
    /*background-color: var(--color-error-light);*/
}

.noChange {
    color: var(--color-gray-500);
    /*background-color: var(--color-gray-200);*/
}
