/* Page header */
.pageHeader {
    margin-bottom: 2rem;
}

.primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageTitle {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1.1;
}

.pageSubtitle {
    color: #6b7280;
    font-size: 1.125rem;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .pageTitle {
        font-size: 1.875rem;
    }
}
