
/* LAYOUT */
.player {
    display: grid;
    grid-template-areas: 'image name pos'
                         'image club pos'
                         'news news news';
    grid-template-columns: 100px 2fr 1fr;
    align-items: center;
}
.gridSquadPos {
    grid-area: suadPos;
}

.gridImage {
    grid-area: image;
    align-self: baseline;
    justify-self: center;
}

.gridName {
    grid-area: name;
}
.gridClub {
    grid-area: club;
}

.gridNews {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgba(255,255,255,0.75);
    z-index: 1;
    display: grid;
    &:empty { display: none}
}

.home {
      text-align: right;
}
.away {
      text-align: left;
}

.my-team {
  font-weight: bold;
}


.table {
    width: 100%;
    min-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    font-size: 0.85em;

    @media (min-width: 650px) {
        font-size: 1em;
    }
}

th.cell {
    text-align: center;
    background-color: rgb(220, 228, 245);
    padding: .3em .15em;
    font-size: .8em;
    width: 60px;
}
td.cell {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-align: center;
    padding: .3em .15em;
    vertical-align: middle;
}
