
/* LAYOUT */
.player {
    display: grid;
    grid-template-areas: 'image name stats'
                         'image club stats'
                         'image squadPos stats'
                         'image news stats';
    grid-template-columns: 80px 1fr 2fr;
    align-items: center;
    justify-items: center;
    @media screen and (min-width: 600px){
        grid-template-columns: 120px 1fr 2fr;
    }
}
.gridSquadPos {
    grid-area: squadPos;
}

.gridImage {
    grid-area: image;
    align-self: baseline;
}
.gridStats {
    grid-area: stats;
}

.gridName {
    grid-area: name;
}
.gridClub {
    grid-area: club;
}

.gridNews {
    grid-area: news;
    background-color: rgba(255,255,255,0.75);
    z-index: 1;
    display: grid;
    &:empty { display: none}
}

.home {
      text-align: right;
}
.away {
      text-align: left;
}


/* UI */

.my-team {
  font-weight: bold;
}


.table {
    width: 100%;
    min-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    font-size: 0.85em;

    @media (min-width: 650px) {
        font-size: 1em;
    }
}

th.cell {
    text-align: center;
    background-color: rgb(220, 228, 245);
    padding: .3em .15em;
    font-size: .8em;
    width: 60px;
}
td.cell {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-align: center;
    padding: .3em .15em;
    vertical-align: middle;
}



/* STATS */

.stats {
    display: grid;
    grid-template-areas: 'form formStats'
                         'creativity creativityStats'
                         'influence influenceStats'
                         'setPlays setPlaysStats';
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    justify-items: center;
    font-size: 0.9em;
    @media screen and (min-width: 500px){
        grid-template-columns: 1.5fr 1fr;
        font-size: 1em;
    }
}

.statsLabel {
    color: #163;
    padding: 0.2em;
    border-bottom: 1px dashed #163;
    width: 100%;
    white-space: nowrap;
}
.statsValue {
    color: #4f5a65;
    padding: 0.2em;
    border-bottom: 1px dashed #163;
    width: 100%;
    text-align: center;
    > span:first-child {
        margin-right: 1em;
    }

    .small {
        font-size: 0.8em;
        line-height: 1.25em;
        color: #8f8a85;
        white-space: nowrap;
        float: right;
        &:before {
            content: 'rank: ';
            display: inline-block;
        }
    }
}
