.club-fixtures__event,
.club-fixtures__home-or-away {
    display: inline-block;
    min-width: 28px;
  }

.club-fixtures__fixture {
    display: inline-block;
    left: 25%;
    position: relative;
    width: 75%;
}

.club-fixtures__team {
    display: inline-block;
    width: 40%;
    margin: 2px 8px;
}
    @media only screen and (min-width: 550px) {
        .club-fixtures__team {
            width: 35%;
        }
    }

.club-fixtures__team--home {
      text-align: right;
    }

.club-fixtures__team--away {
      text-align: left;
  }

.club-fixtures__stats-header {
    padding: 0 5px;
    min-width: 50px;
  }

.club-fixtures__stats {
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    cursor: help;
  }

.club-fixtures__stat--total {
      flex: 1 1 50%;
      font-weight: bold;
      font-size: 1.5em;
    }

.club-fixtures__stat--group {
      flex: 1 1 50%;
      display: flex;
      flex-flow: column;
      color: var(--text--light);
  }

.club-fixtures__stat__live {
    color: var(--warning);
}
