/* stylint-disable */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1;
    font-family: "CSClarity"; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    text-rendering: optimizeLegibility;

    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i,
em {
    font-style: italic;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-thin.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-thin.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-thin.ttf")
        format("ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-thin-italic.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-thin-italic.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-thin-italic.ttf")
        format("ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-light.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-light.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-light.ttf")
        format("ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-light-italic.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-light-italic.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-light-italic.ttf")
        format("ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-book.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-book.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-book.ttf")
        format("ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-book-italic.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-book-italic.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-book-italic.ttf")
        format("ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-regular.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-regular.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-regular.ttf")
        format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-regular-italic.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-regular-italic.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-regular-italic.ttf")
        format("ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-medium.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-medium.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-medium.ttf")
        format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-medium-italic.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-medium-italic.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-medium-italic.ttf")
        format("ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-bold.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-bold.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-bold.ttf")
        format("ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-bold-italic.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-bold-italic.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-bold-italic.ttf")
        format("ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-black.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-black.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-black.ttf")
        format("ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-display: fallback;
    font-family: "CSClarity";
    src:
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-black-italic.woff2")
        format("woff2"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-black-italic.woff")
        format("woff"),
        url("https://cdn2-fs.clearscore.com/global-website/fonts/cs-clarity-black-italic.ttf")
        format("ttf");
    font-weight: 900;
    font-style: italic;
}

svg {
    fill: currentColor;
}


.layout__content {
    min-height: calc(100vh - 5em - 60px);
}
.layout__footer {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    margin-bottom: 60px;
}
.layout__footer-header {
    margin: 10px 20px 0;
}
.layout__footer-links {
    display: flex;
    list-style: circle;

    li {
        margin: 10px;
        padding: 10px;
    }
}
