:root .layoutGrid {
    --navHeight: calc(60px + env(safe-area-inset-bottom));
    @media (--rnb-mq-medium) {
        --navHeight: revert;
    }
}

.layoutGrid {
    display: grid;
    grid-template-areas: 'primary-nav'
                         'secondary-nav'
                         'tertiary-nav'
                         'body'
                         'footer';
}
.gridPrimaryNav {
    grid-area: primary-nav;
}

.gridSecondaryNav {
    grid-area: secondary-nav;
    position: fixed;
    bottom: 0;
    left: 0;
    height: var(--navHeight);
    width: 100%;
    z-index: 1;

    @media (--rnb-mq-medium) {
        position: relative;
    }
}
.gridTertiaryNav {
    grid-area: tertiary-nav;
}

.gridBody {
    grid-area: body;
    margin-bottom: var(--navHeight);
}

.gridFooter {
    grid-area: footer;

}


.content {
    min-height: calc(100vh - 20em - env(safe-area-inset-bottom) - 60px);

    @media (--rnb-mq-phablet) {
        min-height: calc(100vh - 19em - env(safe-area-inset-bottom) - 60px);
    }

    @media (--rnb-mq-medium) {
        min-height: calc(100vh - 15em - env(safe-area-inset-bottom));
    }
}

.footer {
    border-top: 1px solid #ddd;
    margin-top: 30px;
}

.footer-content {
    display: grid;
    grid-template-areas:
        'misc-header draft-header'
        'misc-links draft-links';

    @media (--rnb-mq-phablet) {
        grid-template-areas:
            'misc-header'
            'misc-links'
            'draft-header'
            'draft-links';
    }
}

.footer-header {
    margin: 20px 20px 0;
    grid-area: misc-header;
}

.footer-header--draft {
    grid-area: draft-header;
    margin-left: 0;

    @media (--rnb-mq-phablet) {
        margin-left: 20px;
    }
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    grid-area: misc-links;

    & li {
        margin: 10px;
        padding: 0 10px;
    }

    @media (--rnb-mq-phablet) {
        flex-direction: row;

    & li {
          flex: 1 0 calc(20% - 20px);
      }
    }
}

.footer-links--draft {
    grid-area: draft-links;

    & li {
        margin-left: 0;
        padding-left: 0;

        @media (--rnb-mq-phablet) {
            margin-left: 20px;
        }
    }
}
