.playerImage {
    width: 35px;
    height: 35px;

    img {
        max-width: 100%;
    }
    .circle {
        position: relative;
        border: 2px solid transparent;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        transition: color ease 1s, background-color ease 1s;

        .icon {
            position: absolute;
            top: -4px;
            right: -4px;
            transition: opacity ease 1s;
            opacity: 0;
        }

        &.loading {
            color: lightgray;
            border-color: lightgray;
            .icon { opacity: 0; }
        }
        &.low {
            color: red;
            border-color: red;
            .icon { opacity: 1; }
        }
        &.medium {
            color: orange;
            border-color: orange;
            .icon { opacity: 1; }
        }
        &.high {
            color: orange;
            border-color: orange;
            .icon { opacity: 1; }
        }
    }

    &.large {
         width: 100px;
         height: 100px;

        .circle {
            border-width: 3px;
            width: 100px;
            height: 100px;
        }
     }
    &.small {
         display: none;
     }
}

@media (min-width: 650px) {
    .playerImage {
        margin: 0px 8px;

        &.small {
             display: inline-block;
         }

        &.mediumSize {
             width: 50px;
             height: 50px;

            .circle {
                border-width: 2px;
                width: 50px;
                height: 50px;
            }
        }
    }
}

