.playerImage {
    width: 35px;
    height: 35px;

    img {
        max-width: 100%;
    }
    .imageContainer {
        position: relative;
    }
    .circle {
        position: relative;
        border: 2px solid transparent;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        overflow: hidden;
    }
    .low {
        color: red;
        border-color: red;
    }
    .medium {
        color: orange;
        border-color: orange;
    }
    .high {
        color: orange;
        border-color: orange;
    }

    &.large {
         width: 100px;
         height: 100px;

        .circle {
            border-width: 3px;
            width: 100px;
            height: 100px;
        }
     }
}

@media (min-width: 650px) {
    .playerImage{
        margin: 2px 8px;
    }
}

