.nav {
    border-bottom: 1px solid var(--brand);
    position: relative;
    z-index: 10;
    overflow: visible;
}

.nav__content {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.nav a {
    padding: 2px 4px;
    line-height: 2em;
    display: inline-block;
}

.nav .home{
    background: #163;
    color: white;
    text-decoration: none!important;
    display: flex;
    svg {
        display: inline-block;
        max-width: 32px;

    }
}
.nav .isActive,
.nav [aria-current="page"] {
    text-decoration: underline;
}

.nav__link {
    display: inline-block;
    line-height: 1.25em;
    font-family: 'Roboto Slab', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: var(--brand);

    &  a {
        color: var(--brand);
    }

    &  .link--active {
        border-color: var(--brand);
    }
}

.nav__my-account {
    text-align: right;
    flex-grow: 1;
    margin: 0 1em;
}
