@import '~@kammy/bootstrap/src/abstracts/variables';

.nav {
  border-bottom: 1px solid $brand;
  position: relative;
  z-index: 10;
  overflow: visible;

  &__content {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
  }
    a {
        padding: 2px 4px;
        line-height: 2em;
        display: inline-block;
    }
    .isActive,
    [aria-current="page"] {
        //background: #1633;
        background: #163;
        color: white;
    }
}

.nav__link {
  display: inline-block;
  line-height: 1.25em;
  font-family: 'Roboto Slab', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
    color: $brand;

  a {
      color: $brand;
  }

  &--right {
    float: right;
    margin-right: 0;
  }

  &.link--active {
    border-color: $brand;
  }
}

.nav__my-account {
  text-align: right;
  flex-grow: 1;
  margin: 0 1em;
}
