/* stylelint-disable */
.gradient_7 { background: #57bb8a; }
.gradient_6_5 { background: #66c195; }
.gradient_6 { background: #76c79f; }
.gradient_5_5 { background: #85ceaa; }
.gradient_5 { background: #94d4b5; }
.gradient_4_5 { background: #a3dabf; }
.gradient_4 { background: #b3e0ca; }
.gradient_3_5 { background: #c2e6d4; }
.gradient_3 { background: #c2e6d4; }
.gradient_2_5 { background: #d1ecdf; }
.gradient_2 { background: #e0f3ea; }
.gradient_1_5 { background: #f0f9f4; }
.gradient_1 { background: #f0f9f4; }
.gradient_0_5 { background: rgba(255, 255, 255, .5); }
.gradient_0 { background: transparent; }
.gradient__0_5 { background: rgba(255, 255, 255, .5); }
.gradient__1 { background: #fcf3f2; }
.gradient__1_5 { background: #f9e6e5; }
.gradient__2 { background: #f6dad7; }
.gradient__2_5 { background: #f6dad7; }
.gradient__3 { background: #f3ceca; }
.gradient__3_5 { background: #f0c1bd; }
.gradient__4 { background: #ecb5b0; }
.gradient__4_5 { background: #e9a8a3; }
.gradient__5 { background: #e69c96; }
.gradient__5_5 { background: #e69c96; }
.gradient__6 { background: #e39088; }
.gradient__6_5 { background: #e0837b; }
.gradient__7 { background: #dd776e; }

