
/* LAYOUT */
.player {
    display: grid;
    grid-template-areas: 'teamPos image name'
                         'teamPos image club'
                         '- image --';
    grid-template-columns: 40px 1fr 2fr;
    align-items: center;
}
.gridTeamPos {
    grid-area: teamPos;
}

.gridImage {
    grid-area: image;
    align-self: baseline;
    justify-self: center;
}

.gridName {
    grid-area: name;
}
.gridClub {
    grid-area: club;
}

.gridNews {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgba(255,255,255,0.75);
    z-index: 1;
    display: grid;
    &:empty { display: none}
}


/* STYLING */

.club {
    margin-top: 2px;
    font-weight: normal;
    font-size: 0.75em;
    color: #888;
}

.teamPos{
    font-size: 0.85em;
    color: #333;
}
.pos {
    font-size: 0.75em;
    color: #888;
    &:empty { display: none }
}

.news {
    font-size: 0.75em;
    color: #95664c;
    font-style: italic;
}

/* VARIANTS */
.large {
    .name {
        font-size: 1.5em;
    }
}

/* UTILS */
.hidden {
    display: none;
}
.block {
    display: none;
}
