.player {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.playerName {
    flex: 1;
}

.playerImage {
    width: 30px;
    height: 30px;

    img {
        max-width: 100%;
    }
}

@media (min-width: 650px) {
    .playerImage{
        margin: 2px 8px;
    }
}

.playerClub {
    margin-top: 2px;
    font-weight: normal;
    font-size: 0.75em;
    color: #888;
}

.playerPosition {
    font-size: 0.75em;
    color: #888;
    width: 40px;

    @media (min-width: 650px) {
        width: 50px
    }
}
