.container {
    display: block;
    align-items: center;
    border-bottom: 1px solid var(--brand);
    background: #eee;
    padding: 0.35em 0;
}
@media (--rnb-mq-medium) {
    .container {
        padding: 0 0 0.35em 0;
    }
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    border-radius: 5px;
    background: #eee;
    z-index: 2;
}

.tab {
    display: flex;
    text-align: center;
    font-size: 0.8em;
}


@media (--rnb-mq-medium) {
    .tabs {
        margin: 0 auto;
        max-width: 500px;
    }
    .tab {
        text-align: left;

        &.isActive {
            background: transparent;
            color: black;
         }
        &.home{
            position: absolute;
            left: 1em;
        }
    }
}

.iconContainer {
    display: inline-block;
    max-width: 32px;

}
.iconContainer svg {
    fill: white;
}

.cta {
    display: inline-block;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    color: #444;

    &.isActive {
         background: lightgrey;
     }
    &:hover {
         text-decoration: none;
     }

    &:hover:not(.isActive) {
         color: black;
        background: #eee;
     }
}

@media (--rnb-mq-medium) {
    .cta {
        display: flex;
    }
}

.gwContainer {
    text-align: center;
}
