.container {
    display: block;
    align-items: center;
}
@media (--rnb-mq-medium) {
    .container {
        display: flex;
        padding: 0 0 0.35em 0;
    }
}

.tabs {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    border-top: 1px solid #ddd;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-around;
    background: #eee;
    z-index: 2;
    height: calc(60px + env(safe-area-inset-bottom));
    width: 100%;
    max-width: 768px;
}
@media (--rnb-mq-medium) {
    .tabs {
        position: relative;
        border: 0;
        height: 40px;
    }
}
.tab {
    display: flex;
    text-align: center;
    font-size: 0.8em;
    margin: auto;
}

@media (--rnb-mq-medium) {
    .tab {
        text-align: left;

        &.isActive {
            background: transparent;
            color: black;
         }
    }
}

.iconContainer {
    display: inline-block;
    max-width: 32px;

}
.iconContainer svg {
    fill: white;
}

.cta {
    display: inline-block;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    color: #444;

    &.isActive {
         background: lightgrey;
     }
    &:hover {
         text-decoration: none;
     }

    &:hover:not(.isActive) {
         color: black;
        background: #eee;
     }
}

@media (--rnb-mq-medium) {
    .cta {
        display: flex;
    }
}

.gwContainer {
    text-align: center;
}
